# MT5 Credentials
MT5_LOGIN=336773771
MT5_PASSWORD=Lm10730571@
MT5_SERVER=XMGlobal-MT5 9
#MT5 Terminal Path
MT5_PATH=C:\Program Files\XM Global MT5\terminal64.exe

# Bridge Security
BRIDGE_API_KEY=your_secret_bridge_key
BRIDGE_HOST=0.0.0.0
BRIDGE_PORT=8001
